<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center mt-5">
                <div class="card-header text-primary text-uppercase">
                    <a href="/areas">
                        <h2>{{user.hname}}</h2>
                        <i class="fas fa-hospital"></i>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="text-left">
                        <p> <i class="fas fa-phone-volume"></i> Phone: {{user.phone}}</p>
                        <p> <i class="far fa-compass"></i> Address: {{user.address}}</p>
                        <p>- Department: {{user.department}}</p>
                        <p>- City: {{user.city}}</p>
                        <p>- Lat: {{user.lat}}</p>
                        <p>- Long: {{user.long}}</p>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>