<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header text-primary text-uppercase">
                    <a href="/areas">
                        <h2>{{user.hname}}</h2>
                        <i class="fas fa-hospital"></i>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="text-left">
                        <li>Address: {{user.address}}</li>
                        <li>Phone: {{user.phone}}</li>
                        <li>Department: {{user.department}}</li>
                        <li>City: {{user.city}}</li>
                        <li>Lat: {{user.lat}}</li>
                        <li>Long: {{user.long}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>