<div class="container">
    <div class="card ">
        <div class="card-body mt-5">

            <table class="table table-hover table-white">
                <thead class="bg-dark text-white">
                    <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Name</th>
                        <th scope="col">Eps</th>
                        <th scope="col">Area</th>
                        <th scope="col">Room</th>
                        <th scope="col">Entry Date</th>
                        <th scope="col">Release Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each usersIn}}
                    <tr>
                        <th scope="row">{{cedula}}</th>
                        <td>{{name}}</td>
                        <td>{{eps}}</td>
                        <td>{{area}}</td>
                        <td>{{location}}</td>
                        <td>{{date_in}}</td>
                        <td>{{date_out}}</td>
                        <td><a href="/user/release/{{id}}">
                                <div class="btn btn-primary">
                                    Release
                                </div>
                            </a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>