<div class="container p-4">
    <div class="row">
        {{#each beds}}
        <div class="col-md-3">
            <div class="card text-center mt-5">
                <div class="card-body">
                    <a href="">
                        <h3 class="card-tittle text-uppercase">
                            {{name}}
                        </h3>
                    </a>
                    <p class="m-2 block">Beds</p>
                    <a href="/areas/edit/{{id}}" class="btn btn-success">Update</a>
                    <a href="/areas/delete/{{id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center mt-5">
                <p>There are not beds registered yet {{id}}</p>
                <a href="/areas/beds/add/{{id_area}}">Register a new bed</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>