<div class="container p-4">
    <div class=" text-primary text-center mt-5">
        <h3><b><u>AREAS</u></b></h3>
    </div>
    <div class="row">
        {{#each areas}}
        <div class="col-md-3">
            <div class="card text-center mt-3">
                <div class="card-body">
                    <a href="/areas/beds/{{id}}">
                        <h3 class="card-tittle text-uppercase">
                            {{name}}
                        </h3>
                    </a>
                    <p class="m-2 block">Beds</p>
                    <a href="/areas/edit/{{id}}" class="btn btn-success">Update</a>
                    <a href="/areas/delete/{{id}}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>There are not areas registered yet </p>
                <a href="/areas/add">Register a new area</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>